// ------------- COLOR --------------------
// primary
$primary: #0d6efd;
$primary-light: #9ec5fe;
$primary-lighter: #cfe2ff;
$primary-dark: #084298;
$primary-darker: #031633;

// secondary
$secondary: #d63384;
$secondary-light: #e685b5;
$secondary-lighter: #f7d6e6;
$secondary-dark: #801f4f;
$secondary-darker: #561435;

// green (sucess)
$green: #22cc2e;
$green-light: #a5e79d;
$green-lighter: #eafae7;
$green-dark: #00930f;
$green-darker: #007000;

// orange (warning)
$orange: #d98e1a;
$orange-light: #eac481;
$orange-lighter: #faf1e0;
$orange-dark: #cf7512;
$orange-darker: #bd520b;

// red (error)
$red: #e94f4f;
$red-light: #eb9899;
$red-lighter: #feeaee;
$red-dark: #cc2a2e;
$red-darker: #b0161c;

// blue (info)
$blue: #1e88d9;
$blue-light: #66b4ec;
$blue-lighter: #e3f2fb;
$blue-dark: #0d65b5;
$blue-darker: #004896;

$theme-colors: (
  // primary
  "primary": $primary,
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "primary-dark": $primary-dark,
  "primary-darker": $primary-darker,

  // secondary
  "secondary": $secondary,
  "secondary-light": $secondary-light,
  "secondary-lighter": $secondary-lighter,
  "secondary-dark": $secondary-dark,
  "secondary-darker": $secondary-darker,

  // green (sucess)
  "green": $green,
  "green-light": $green-light,
  "green-lighter": $green-lighter,
  "green-dark": $green-dark,
  "green-darker": $green-darker,

  // orange (warning)
  "orange": $orange,
  "orange-light": $orange-light,
  "orange-lighter": $orange-lighter,
  "orange-dark": $orange-dark,
  "orange-darker": $orange-darker,

  // red (error)
  "red": $red,
  "red-light": $red-light,
  "red-lighter": $red-lighter,
  "red-dark": $red-dark,
  "red-darker": $red-darker,

  // blue (info)
  "blue": $blue,
  "blue-light": $blue-light,
  "blue-lighter": $blue-lighter,
  "blue-dark": $blue-dark,
  "blue-darker": $blue-darker
);

// Gray Colors
$black: #000000;
$gray90: #212529;
$gray80: #343a40;
$gray70: #495057;
$gray60: #6c757d;
$gray50: #adb5bd;
$gray40: #ced4da;
$gray30: #dee2e6;
$gray20: #e9ecef;
$gray10: #f8f9fa;
$white: #ffffff;

$grays: (
  "black": $black,
  "gray90": $gray90,
  "gray80": $gray80,
  "gray70": $gray70,
  "gray60": $gray60,
  "gray50": $gray50,
  "gray40": $gray40,
  "gray30": $gray30,
  "gray20": $gray20,
  "gray10": $gray10,
  "white": $white,
);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$grid-columns: 12;

$spaces: (
  "0": 0,
  "05": 0.5rem,
  "1": 1rem,
  "15": 1.5rem,
  "2": 2rem,
  "3": 3rem,
);

$sizes: (
  // width
  "w":
    (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  // height
  "h":
    (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  // max-width
  "mw":
    (
      100: 100%,
    ),
  // max-height
  "mh":
    (
      100: 100%,
    )
);

$z-indexes: (
  "none": 0,
  "appbar": 12,
  "carousel": 10,
);

// Spaces
// $space-0: 0;
// $space-025: 0.0625rem;
// $space-05: 0.125rem;
// $space-1: 0.25rem;
// $space-2: 0.5rem;
// $space-3: 0.75rem;
// $space-4: 1rem;
// $space-5: 1.25rem;
// $space-6: 1.5rem;
// $space-8: 2rem;
// $space-10: 2.5rem;
// $space-12: 3rem;
// $space-16: 4rem;
// $space-20: 5rem;
// $space-24: 6rem;
// $space-28: 7rem;
// $space-32: 8rem;
