@use "sass:map";
// Types -------------------------

// Display Large
$displayLarge: (
  family: "Roboto Regular",
  size: 57px,
  lineHeight: 64px,
  fontWeight: 400,
  letterSpacing: 0px,
);

// Display Medium
$displayMedium: (
  family: "Roboto Regular",
  size: 45px,
  lineHeight: 52px,
  fontWeight: 400,
  letterSpacing: 0px,
);

// Display Medium
$displaySmall: (
  family: "Roboto Regular",
  size: 36px,
  lineHeight: 44px,
  fontWeight: 400,
  letterSpacing: 0px,
);

// Headline Large
$headlineLarge: (
  family: "Roboto Regular",
  size: 32px,
  lineHeight: 40px,
  fontWeight: 400,
  letterSpacing: 0px,
);

// Headline Medium
$headlineMedium: (
  family: "Roboto Regular",
  size: 28px,
  lineHeight: 36px,
  fontWeight: 400,
  letterSpacing: 0px,
);

// Headline Small
$headlineSmall: (
  family: "Roboto Regular",
  size: 24px,
  lineHeight: 32px,
  fontWeight: 400,
  letterSpacing: 0px,
);

// Title Large
$titleLarge: (
  family: "Roboto Regular",
  size: 22px,
  lineHeight: 28px,
  fontWeight: 400,
  letterSpacing: 0px,
);

// Title Medium
$titleMedium: (
  family: "Roboto Medium",
  size: 16px,
  lineHeight: 24px,
  fontWeight: 500,
  letterSpacing: 0.15px,
);

// Title Small
$titleSmall: (
  family: "Roboto Medium",
  size: 14px,
  lineHeight: 20px,
  fontWeight: 500,
  letterSpacing: 0.1px,
);

// Label Large
$labelLarge: (
  family: "Roboto Medium",
  size: 14px,
  lineHeight: 20px,
  fontWeight: 500,
  letterSpacing: 0.1px,
);

// Label Medium
$labelMedium: (
  family: "Roboto Medium",
  size: 12px,
  lineHeight: 16px,
  fontWeight: 500,
  letterSpacing: 0.5px,
);

// Label Small
$labelSmall: (
  family: "Roboto Medium",
  size: 11px,
  lineHeight: 16px,
  fontWeight: 500,
  letterSpacing: 0.5px,
);

// Body Large
$bodyLarge: (
  family: "Roboto Medium",
  size: 16px,
  lineHeight: 24px,
  fontWeight: 400,
  letterSpacing: 0.5px,
);

// Body Medium
$bodyMedium: (
  family: "Roboto Regular",
  size: 14px,
  lineHeight: 20px,
  fontWeight: 400,
  letterSpacing: 0.25px,
);

// Body Small
$bodySmall: (
  family: "Roboto Regular",
  size: 12px,
  lineHeight: 16px,
  fontWeight: 400,
  letterSpacing: 0.4px,
);
