// Colors --------------------

// Primary Color --------------
$primary: #00a58e;
$primaryLight: #ecf8f7;
$primaryDark: #007f6d;

// Secondary Color -------------
$secondary: #ee0290;
$secondaryLight: #fab3de;
$secondaryDark: #a70165;

// Green Color -------------
$green: #28a138;
$greenLight: #f2f8f2;
$greenDark: #2d7738;

// Orange Color -------------
$orange: #df7b00;
$orangeLight: #fef7f1;
$orangeDark: #ba5d00;

// Red Color -------------
$red: #d21c1c;
$redLight: #fcf3f3;
$redDark: #970c0c;

// Blue Color -------------
$blue: #0172cb;
$blueLight: #f1f8fe;
$blueDark: #005aa3;

// Gray Color
$black: #000000;
$gray90: #1a1a1a;
$gray80: #333333;
$gray70: #4d4d4d;
$gray60: #666666;
$gray50: #808080;
$gray40: #999999;
$gray30: #b3b3b3;
$gray20: #cccccc;
$gray10: #e6e6e6;
$white: #ffffff;
