@use "../abstracts/variables" as vars;

// box-grid
.box-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

// box
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;

  // box--primary
  &--primary {
    background-color: vars.$primary;
    color: white;
  }

  // box--secondary
  &--secondary {
    background-color: vars.$secondary;
    color: black;
  }

  // box--success
  &--success {
    background-color: vars.$success;
    color: white;
  }

  // box--warning
  &--warning {
    background-color: vars.$warning;
    color: white;
  }

  // box--error
  &--error {
    background-color: vars.$error;
    color: white;
  }

  // box--info
  &--info {
    background-color: vars.$info;
    color: white;
  }

  // box--black
  &--black {
    background-color: vars.$black;
    color: white;
  }

  // box--gray90
  &--gray90 {
    background-color: vars.$gray90;
    color: white;
  }

  // box--gray80
  &--gray80 {
    background-color: vars.$gray80;
    color: white;
  }

  // box--gray70
  &--gray70 {
    background-color: vars.$gray70;
    color: white;
  }

  // box--gray60
  &--gray60 {
    background-color: vars.$gray60;
    color: white;
  }

  // box--gray50
  &--gray50 {
    background-color: vars.$gray50;
    color: white;
  }

  // box--gray40
  &--gray40 {
    background-color: vars.$gray40;
    color: white;
  }

  // box--gray30
  &--gray30 {
    background-color: vars.$gray30;
    color: black;
  }

  // box--gray20
  &--gray20 {
    background-color: vars.$gray20;
    color: black;
  }

  // box--gray10
  &--gray10 {
    background-color: vars.$gray10;
    color: black;
  }

  // box--white
  &--white {
    background-color: vars.$white;
    color: black;
    border: 1px solid #000;
  }
}
